
body {
    background-color: white;
}
h1 {
    margin: 10px;
    color: #FF5003;
    font-family: cursive;
}

div {
    color: #003F7D;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: #003F7D;
}
p {
    font-family: cursive
;
    color:#FF5003
    
    



}