
body {
    background-image: url('appointment2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    margin: 10px;
    color: #FF5003;
    font-family: cursive;
}

form {
    color: #FF5003;
    
    font-family: cursive;
    width: 500px;
    height: 500px;
    background-color:#003F7D;
    border: 2px solid #FF5003;
    padding: 10px;
    text-align: center;
    position: relative;
    left: 700px; 
    top: 200px;
    display:grid ;
    justify-content: center;
    border-radius: 30px;
    
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: #003F7D;
    border: 2px solid #FF5003;
}

p {
    font-family: cursive
;
    color:#FF5003

}
.nameInput {
    border-radius: 10px; 
    border: 1px solid #FF5003; 
    padding: 10px;

}
.dateInput {
    border-radius: 10px; 
    border: 1px solid #FF5003; 
    padding: 10px;
}
.timeInput {
    border-radius: 10px; 
    border: 1px solid #FF5003; 
    padding: 10px;
}
.SymptomsInput {
    border-radius: 10px; 
    border: 1px solid #FF5003; 
    padding: 10px;
}
.submit {
    border-radius: 10px; 
    border: 1px solid #FF5003; 
    padding: 10px;
}
button {
    border-radius: 10px; 
    border: 1px solid #FF5003; 
    padding: 10px;
}